<div class="container text-center">
  <div class="row justify-content-center mt-4 mb-3 border-primary">
    <div class="col-5">
      <h1>July, 2022</h1>
    </div>
    <div class="col-2 mt-2">
      <div class="input-group">
        <input type="text" id="date" class="form-control box-shadow bg-light text-center" placeholder="dd/mm/yyyy">
      </div>
    </div>
  </div>
  <div class="fs-5">
    <div>
      <div class="row justify-content-center fw-bold">
        <div class="col-1 ms-1 me-1">Mo</div>
        <div class="col-1 ms-1 me-1">Tu</div>
        <div class="col-1 ms-1 me-1">We</div>
        <div class="col-1 ms-1 me-1">Th</div>
        <div class="col-1 ms-1 me-1">Fr</div>
        <div class="col-1 ms-1 me-1">Sa</div>
        <div class="col-1 ms-1 me-1 text-danger">Su</div>
      </div>
    </div>
    <div class="text-white">
      <div class="row justify-content-center">
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">1</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">2</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 text-danger fw-bold bg-primary">3</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">4</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">5</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">6</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">7</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">8</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">9</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 text-danger fw-bold bg-primary">10</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">11</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">12</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">13</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">14</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">15</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">16</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 text-danger fw-bold bg-primary">17</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">18</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">19</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">20</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">21</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">22</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">23</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 text-danger fw-bold bg-primary">24</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">25</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">26</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">27</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">28</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">29</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 bg-primary">30</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 text-danger fw-bold bg-primary">31</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4">-</div>
        <div class="col-1 border border-2 border-primary m-1 pt-4 pb-4 fw-bold">-</div>
      </div>
    </div>
  </div>
  <form enctype="multipart/form-data" class="mt-4">
    <div class="row justify-content-center">
      <div class="col-2">
        <select class="form-select box-shadow bg-light text-center" id="month" required>
          <option hidden selected disabled label="Month"></option>
          <option>January</option>
          <option>February</option>
          <option>March</option>
          <option>April</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>August</option>
          <option>September</option>
          <option>October</option>
          <option>November</option>
          <option>December</option>
        </select>
      </div>
      <div class="col-2">
        <div class="input-group">
          <input type="number" id="year" min="1800" max="2200" class="form-control box-shadow bg-light text-center" placeholder="Year" required>
        </div>
      </div>
      <div class="d-grid col-1">
        <button class="btn btn-primary fs-6 box-shadow" type="submit">Go</button>
      </div>
    </div>
  </form>
</div>